html {
  background: url(../src/img/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

@font-face {
  font-family: 'Briberra';
  src: url('../src/font/Briberra.ttf') format('truetype'), 
  url('../src/font/briberra.woff2') format('woff2'), 
  url('../src/font/briberra.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Briberra';
  color: white;
}

button {
  cursor: pointer;
}

@media only screen and (max-width:700px) {
  .about-box p {
    font-size: 40px;
  }
  .about-box h1 {
    font-size: 60px;
  }
  html {
    background: url(../src/img/bg-small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (max-width:500px) {
 
  div select{
  text-indent: 15px;
  }
.form input{
    font-size: 25px;
  }
.form button{
  font-size: 25px;
}
  .about-box p {
    font-size: 35px;
  }
  html {
    background: url(../src/img/bg-small.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

@media only screen and (min-width:1000px) {
  .about-box p {
    font-size: 50px;
  }
  .about-box h1 {
    font-size: 100px;
  }
}

