*{
  margin: 0;
  padding: 0;
  
}
html, body, #app, #app>div {
  height: 100%
}
body {
  color: white;
  font-family: fantasy;
  background: url('./img/bg.jpeg') ;
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
}
button {
  cursor: pointer;
}




